@page
@model RegisterModel
@{
    ViewData["Title"] = "Kayıt Ol";
}

<h1 class="title">@ViewData["Title"]</h1>



<div class="row">
    <div class="col-md-5">
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h3 class="title">Yeni Kullanıcı Olarak Kaydolun.</h3>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

            <div class="form-floating mb-3">
                <input asp-for="Input.Name" class="form-control" aria-required="true" placeholder="İsim" />
                <label asp-for="Input.Name">İsim Soyisim</label>
                <span asp-validation-for="Input.Name" class="text-danger"></span>
            </div>

            <div class="form-floating mb-3">
                <input asp-for="Input.Email" class="form-control" aria-required="true" placeholder="name@example.com" />
                <label asp-for="Input.Email">Email</label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Password" class="form-control"  aria-required="true" placeholder="password" />
                <label asp-for="Input.Password">Şifre</label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.ConfirmPassword" class="form-control"  aria-required="true" placeholder="password" />
                <label asp-for="Input.ConfirmPassword">Şifreyi Onayla</label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg yesil mb-3">Giriş Yap.</button>
        </form>
    </div>

    <div class="col-md-6 col-md-offset-2">
        <section>
            <h3 class="title">Açıklama</h3>
            <hr />
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    <div>
                        <h6> e-Arşiv Portalı hakkında fikir vermek amacı ile oluşturulan Test Uygulamasına giriş yapmak için; </h6>
                        <p> <a asp-page="./Login" asp-route-returnUrl="@Model.ReturnUrl">1) Giriş yap sayfasına gidin.</a> </p>
                        <p>  2) Kullanıcı Öner butonuna tıklayın. </p>
                        <p>  3) Örnek bir Kullanıcı Adı ve Şifre'nin oluşturulmasını bekleyin. </p>
                        <p>  4) Giriş butonuna tıklayarak sisteme giriş yapın. </p>

                    </div>
                }
                else
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins!)
                                {
                                    <button type="submit" class="btn yesil" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </section>
    </div>

</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
